header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 4;
  height: 72px;
  display: flex;
  align-items: center;
}

/* Desktop CSS */

.nav {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  left: 50%;
  transform: translate(-50%);
  max-width: 1264px;
  width: calc(100% - 64px);
  font-size: 16px;
  z-index: 3;
}

.nav-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 0px;
  backdrop-filter: saturate(100%) blur(20px);
  background-color: rgba(18, 22, 25, 0.6);
}

.head-bg {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 4
}

.left {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

header a {
  text-decoration: none;
  color: #F2F2F2;
}

.logo {
  margin-right: 32px;
  font-size: 16px;
  font-weight: 700;
  list-style: none;
}

.divider {
  height: 24px;
  width: 1px;
  background-color: rgba(242, 242, 242, 0.2);
  margin-right: 32px;
}

.links a {
  margin-right: 32px;
}

.right {
  font-size: 16px;
  display: flex;
  list-style: none;
  font-weight: 400;
}

.right a {
  margin-left: 64px;
  opacity: 1;
  transition: .2s;
}

.right a:hover {
  opacity: 0.4;
}

/* Mobile CSS */

.nav-flex-container {
  transform-origin: top;
  display: flex;
  padding: 0 24px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 0px;
  backdrop-filter: saturate(100%) blur(20px);
  background-color: rgba(18, 22, 25, 0.6);
  transform-origin: top center;
}

.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item:nth-child(1) {
  border-top: 1px solid rgba(242, 242, 242, 0.2);
}

.menu-items {
  position: absolute;
  top: 71px;
  list-style: none;
  width: calc(100vw - 48px);
  left: 0px;
  padding: 0 24px 24px 24px;
  font-weight: 700;
  font-size: 16px;
}

.menu-items-hidden {
  display: none;
  position: absolute;
  top: 71px;
  list-style: none;
  width: calc(100vw - 48px);
  left: 0px;
  padding: 0 24px 24px 24px;
  font-weight: 700;
  font-size: 16px;
}

.menu-item {
  border-bottom: 1px solid rgba(242, 242, 242, 0.2);
  padding: 16px 0;
}

.overflow-hidden {
  overflow: hidden;
}

.mobile-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-logo {
  font-weight: 700;
  font-size: 16px;
}

.menu-item-active {
  pointer-events: none;
}

.menu-item-active > * {
  color: rgba(242, 242, 242, 0.4) !important;
}

.menu-item-description {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
}

.menu-item-link {
  display: flex;
  flex-direction: column;
}

.menu-item-external {
  color: #828FFF;
}