* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
}

*::selection {
  background: rgb(130, 143, 255, .25);
}

h1 {
  font-size: 48.83px;
  font-weight: 700;
  letter-spacing: -0.022em;
}

h2 {
  font-size: 39.06px;
  font-weight: 700;
  letter-spacing: -0.022em;
}

h3 {
  font-size: 31.25px;
  font-weight: 700;
  letter-spacing: -0.021em;
}

h4 {
  font-size: 25.00px;
  font-weight: 700;
  letter-spacing: -0.019em;
}

h5 {
  font-size: 20.00px;
  font-weight: 700;
  letter-spacing: -0.017em;
}

h6 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.014em;
}

p {
  letter-spacing: -0.011em;
}

body {
  background-color: #0B0B0F;
  font-family: "Inter", "system-ui";
  margin: 0 auto;
  color: #F2F2F2;
}

a {
  text-decoration: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 72px);
}

@media only screen and (max-width: 500px) {
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh + 144px);
  }
}