* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

*::selection {
  background: rgb(130, 143, 255, .25);
}

h1 {
  font-size: 48.83px;
  font-weight: 700;
}

h2 {
  font-size: 39.06px;
  font-weight: 700;
}

h3 {
  font-size: 31.25px;
  font-weight: 700;
}

h4 {
  font-size: 25.00px;
  font-weight: 700;
}

h5 {
  font-size: 20.00px;
  font-weight: 700;
}

body {
  background-color: #121619;
  font-family: "Inter", "system-ui";
  max-width: 1264px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
  color: #F2F2F2;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  body {
    padding-left: 24px;
    padding-right: 24px;
  }
}