.freelance-wrapper {
    margin-top: 128px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.freelance-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 32px 32px;
}

@media only screen and (max-width: 500px) {
    .freelance-wrapper {
        margin-top: 64px;
    }
}

@media only screen and (max-width: 1000px) {
    .freelance-grid {
        grid-template-columns: 1fr;
    }
}