.freelance-wrapper {
    margin-top: 128px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin-bottom: 128px;
}

.freelance-header {
    text-align: center;
    margin: 0 auto;
}

.freelance-header h1 {
    font-size: 31.25px;
    color: #F2F2F2;
}

.freelance-header p {
    font-size: 18px;
    line-height: 1.5em;
    color: #F2F2F2;
    opacity: 0.8;
    max-width: 640px;
    margin-top: 16px;
}

.freelance-grid {
    margin-top: 128px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 32px 32px;
}

@media only screen and (max-width: 500px) {
    .freelance-wrapper {
        margin-top: 64px;
        margin-bottom: 64px;
    }
    .freelance-header h2 {
        font-size: 31.25px;
    }
    .freelance-grid {
        margin-top: 64px;
    }
}

@media only screen and (max-width: 1000px) {
    .freelance-grid {
        grid-template-columns: 1fr;
    }
}